/* global elements */
:root {
    --color1: #FEFE0E;
    /* --color2: #800000; */
    --color2: #5690e6;
    --color3: #000000;
    --color4: #FFF;
    --color5: #646464;
}

/* to apply to everything for this page */
* {
    padding: 0;
    font-family: 'Poppins', sans-serif;
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
}

/* nav menu */
.navbar {
    background-color: var(--color4);
}

.navbar a {
    color: var(--color3);
}

.navbar a:hover {
    color: var(--color2);
}

.navbar .fa {
    color: var(--color3);
}

.navbar button:hover .fa {
    color: var(--color2);
}

#colorIcon {
    position: absolute;
    top: 15px;
    left: 15px;
    /* margin: 0 50px; */
}

#colorIcon:hover {
    color: var(--color2);
    cursor: pointer;
}

#colorIcon:hover p {
    color: var(--color2);
    cursor: pointer;
}

#colorIcon p {
    left: 25px;
    display: inline-block;
}

/* global styling for index.html page */
.body {
    padding-top: 100px;
    width: 100%;
    height: fit-content;
    background-color: var(--color4);
}

section h1 {
    text-align: center;
}

section h2 {
    text-align: center;
}

.text {
    color: var(--color3);
}

/* header */
.header {
    padding: 7vh 0;
    min-height: 100vh;
}

.header .intro {
    margin-bottom: 5vh;
}

.header .intro img {
    max-height: 250px;
    border-radius: 10px;
}

.header .name {
    color: var(--color2);
    font-size: 75px;
    font-family: 'Allison', cursive;
}

.header .title {
    color: var(--color3);
    font-size: 30px;
    text-decoration: none;
}

.bio {
    margin: 30px;
    width: 100%;
    height: 100%;
    background-color: var(--color4);
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    color: var(--color3);
    align-items: center;
}

.bio:hover a {
    color: var(--color3);
}

.bio:hover h4 {
    color: var(--color2);
    text-decoration: underline;
}

.bio a {
    color: var(--color3);
    text-decoration: none;
}

.bio h1 {
    margin: 10px;
    width: 100%;
    height: 100%;
    border: solid;
    border-radius: 10px;
    border-color: var(--color4);
    /* cursive font */
    font-size: 75px;
    font-family: 'Allison', cursive;
}

.about {
    margin: 10px;
    width: 100%;
    height: 100%;
}

/* portfolio */
.portfolio {
    padding-top: 7vh;
}

.portfolio a {
    text-decoration: none;
}

.portfolio img {
    width: 100%;
    /* this margin positions each img in the projects-col div tag in the center of its space */
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 7%;
}

.portfolio .row {
    padding: 100px 0;
}

.portfolio .description {
    color: var(--color3);
    text-align: center;
    padding-bottom: 30px;
}

/* experience */
.experience {
    padding-top: 10vh;
}

.experience-item h1 {
    padding: 10vh 0;
}

/* resume */
.bio {
    margin: 30px;
    width: 100%;
    height: 100%;
    background-color: var(--color4);
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    color: var(--color3);
    align-items: center;
}

.bio a {
    color: var(--color3);
    text-decoration: none;
}

.bio h1, h2 {
    margin: 10px;
    width: 100%;
    height: 100%;
    border: solid;
    border-radius: 10px;
    border-color: var(--color4);
}

.about {
    margin: 10px;
    width: 100%;
    height: 100%;
}

/* work experience section */
.work {
    margin: 30px;
    width: 100%;
    height: 100%;
    background-color: var(--color4);
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    color: var(--color3);
    text-decoration: none;
}

/* body/background */
.background {
    width: 100%;
    min-height: 85vh;
    padding: 150px 0;
    background-color: var(--color4);
    text-align: center;
}

.background h1 {
    font-size: 50px;
    color: var(--color3);
    margin: 50px 0;
}

/* footer */
.footer {
    min-height: 15vh;
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: var(--color4);
}

.footer h4 {
    font-size: 15px;
    color: var(--color3);
}

.footer h4 a {
    color: var(--color2);
}

.icons .fa {
    color: var(--color3);
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.icons .fa:hover {
    color: var(--color2);
}

.icons a {
    text-decoration: none;
}

/* boxed elements */

.box {
    border: solid;
    border-radius: 10px;
    border-color: var(--color3);
    font-weight: 600;
    padding: 20px;
    margin: 20px;
}

.box:hover {
    box-shadow: 0 0 20px 5px var(--color3);
}

/* for highlighting text in boxes */
.box:hover .highlight {
    color: var(--color2);
}

/* for any links inside a box, to have an automatic underline and highlight */
.box .link {
    color: var(--color2);
    text-decoration: underline;
}

.box:hover .link {
    color: var(--color2);
    text-decoration: underline;
}

/* for keeping text normal in boxes */
.box:hover .normal {
    color: var(--color3);
}

.box-img {
    padding: 40px;
}

/* for smaller screens */
@media(max-width: 767px) {
    /* nav menu */
    #colorIcon {
        position: absolute;
        top: 15px;
        justify-self: left;
        margin: 0 50px;
    }
}